{% load static %}
<div class="page-header {{ object.background_color }}" style="background-image: url('assets/img/');">
    <div class="content-center mt-0" style="z-index:5;">
        <div class="container">

            <div class="card" style="width: 100%">
                <div class="card-body">
                    <ul style="list-style-type:none;margin:0;padding:0;">
                        <li class="float-left"><h5>Lives</h5></li>
                        {% for live in lives %}
                            <li class="float-left ml-3"><i class="fa fa-heart fa-2x text-danger"></i></li>
                        {% endfor %}
                        {% for live in lives_reminder %}
                            <li class="float-left ml-3"><i class="fa fa-heart fa-2x text-default"></i></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="card" style="width: 100%">
                <div class="card-body">
                    <div class="row">
                        {% for picture in pictures %}
                        <div class="col-6 col-md-3 mb-3">
                            <a href="#" onclick="getAnswer({{ picture.id }})">
                            <img src="{{ picture.picture }}" class="img-thumbnail img-responsive"
                                 alt="Rounded Image">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="card" style="width: 100%">
                <div class="card-body">
                    <div class="row">
                        {% for name in names %}
                        <div class="col-md-6 mb-3">
                            <button class="btn btn-primary btn-round btn-block btn-lg btn-wrap-text" onclick="getAnswer({{ name.id }})">{{ name.name }}</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>