<script>
    $( document ).ready(function() {
        togglePlay();
        getPictures({{ img_ids }});
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };

    function getPictures() {
        $.ajax({
            type: "GET",
            url: '/missing-object/get-pictures/',
            success: function (body) {
                console.log(body);
                $('.main').html(body.html);
            }
        })
    }

    function getAnswer(id) {
        {#const csrftoken = getCookie('csrftoken')#}
        $.ajax({
            type: "GET",
            url: `/missing-object/${id}/get-answer/`,
            success: function (body) {
                console.log(body);
                Swal.fire({
                    icon: 'success',
                    title: 'Yes..!',
                    text: "Jawabanmu Benar.",
                    confirmButtonText: 'Cari lagi!',
                }).then((result) => {
                    getPictures();
                });
            },
            error: function(xhr, status, error){
                var errorMessage = xhr.status + ': ' + xhr.statusText
                if(xhr.status == 400){
                    Swal.fire({
                        icon: 'error',
                        title: 'Ops..!',
                        text: "Jawabanmu Salah. Kesempatanmu berkurang",
                        confirmButtonText: 'Cari lagi!',
                    }).then((result) => {
                        getPictures();
                    });
                } else {
                    Swal.fire({
                      icon: 'error',
                      title: 'Ops..!',
                      text: errorMessage,
                    });
                }
            }
        })
    }

    var myAudio = document.getElementById("soundGame");
    function togglePlay() {
        console.log("ke klik dong");
        if(myAudio.paused) {
            $("#btnTogglePlay").html("<i class='fa fa-volume-off fa-3x m-0'></i>");
        } else {
            $("#btnTogglePlay").html("<i class='fa fa-volume-up fa-3x m-0'></i>");
        }
        return myAudio.paused ? myAudio.play() : myAudio.pause();
    };

</script>