<script>
    $( document ).ready(function() {
        togglePlay();
        getQuestion({{ question_id }});
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };

    let questionId = null;
    function getQuestion(id) {
        if(questionId == 0) {
            {# redirect kehalaman menang atau kalah#}
            window.location.replace("/quiz/complete/");
        }
        console.log(id, "id yang masuk ke fungsi")
        $.ajax({
            type: "GET",
            url: `/quiz/question/${id}/`,
            success: function (body) {
                console.log(body);
                questionId = body.question_id;
                $('.main').html(body.html);
            }
        })
    }

    function getAnswer(Qid, Aid) {
        $.ajax({
            type: "GET",
            url: `/quiz/question/${Qid}/${Aid}`,
            success: function (body) {
                console.log(body);
                Swal.fire({
                    icon: 'success',
                    title: 'Yes..!',
                    text: "Jawabanmu Benar.",
                    confirmButtonText: `Soal berikutnya`,
                }).then((result) => {
                    getQuestion(questionId);
                });
            },
            error: function(xhr, status, error){
                var errorMessage = xhr.status + ': ' + xhr.statusText
                if(xhr.status == 400){
                    Swal.fire({
                        icon: 'error',
                        title: 'Ops..!',
                        text: "Jawabanmu Salah.",
                        confirmButtonText: `Soal berikutnya`,
                    }).then((result) => {
                        getQuestion(questionId);
                    });
                } else {
                    Swal.fire({
                      icon: 'error',
                      title: 'Ops..!',
                      text: errorMessage,
                    });
                }
            }
        })
    }

    var myAudio = document.getElementById("soundGame");

    function togglePlay() {
        console.log("ke klik dong");
        if(myAudio.paused) {
            $("#btnTogglePlay").html("<i class='fa fa-volume-off fa-3x m-0'></i>");
        } else {
            $("#btnTogglePlay").html("<i class='fa fa-volume-up fa-3x m-0'></i>");
        }
        return myAudio.paused ? myAudio.play() : myAudio.pause();
    };
</script>