{% extends 'base-template.html' %}
{% load static %}
{% block content %}

    <audio id="soundGame">
        <source src="{% static 'assets/sound/Sunny.mp3' %}" type="audio/mpeg">
    </audio>

    <div class="main">
        <div class="page-header {{ object.background_color }}">
            <div class="container">
                <div class="card" style="width: 100%">
                    <div class="card-body">
                    <h5 class="float-left"> <b>Soal 1 dari 10</b> </h5>
                    <button type="button" class="btn btn-danger btn-round btn-lg float-right">
                        Poin <span class="badge badge-light" id="score">0</span>
                    </button>
                    </div>
                </div>

                <div class="card" style="width: 100%">
                    <div class="card-body">

                    </div>
                </div>

                <div class="card" style="width: 100%">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <button class="btn {{ object.button_color }} btn-round btn-block btn-lg btn-answer">Banyak Awan</button>
                            </div>
                            <div class="col-md-6 mb-3">
                                <button class="btn {{ object.button_color }} btn-round btn-block btn-lg btn-answer">Gerak semu </button>
                            </div>
                            <div class="col-md-6 mb-3">
                                <button class="btn {{ object.button_color }} btn-round btn-block btn-lg btn-answer">Kurangnya </button>
                            </div>
                            <div class="col-md-6 mb-3">
                                <button class="btn {{ object.button_color }} btn-round btn-block btn-lg btn-answer">Suhu udara</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn bg-dark float" id="btnTogglePlay" onclick="togglePlay()">Play/Pause</button>


{% endblock %}

{% block extra_js %}
    {% include 'quiz/quiz-playing-js.html' %}
{% endblock %}