{% extends 'base-template.html' %}
{% load static %}

{% block content %}
    <div class="main">
        <div class="page-header bg-info">
            <div class="container">
                <div class="card" style="width: 100%">
                    <div class="card-header">
                        <a class="navbar-brand text-info" href="{% url 'index' %}"><i class="nc-icon nc-minimal-left" aria-hidden="true"></i>&nbsp;Kembali</a>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center">{{ title }}</h1>
                        <h5 class="text-center mb-3 mt-1">Pilih salah satu tema di bawah ini!</h5>
                        <div class="row list-group m-2">
                            {% for obj in object_list %}
                                <a href="{{ obj.get_detail_url }}" class="list-group-item list-group-item-action disabled">{{ obj.title }}</a>
                            {% empty %}
                                <a href="#">No game yet.</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}